<div class="card-info success">
     <a href="/searches/{{id}}"></a>
    <div class="card-info-label">
        <div class="card-info-label-text" id="stockSymbol">
            {{stock_symbol}}
        </div>
    </div>
    <div class="card-info-content">
        <h3 class="lead" id="stockName">Company: {{stock_name}}</h3>
        <p id="stockCountry">Country: {{stock_country}}</p>
        <p id="stockSector">Exchange: {{stock_sector}}</p>
        {{!-- <p id="stockDescription">Description {{stockDescription}}</p> --}}
        <p id="stockOpen">Today's Open Price: {{stock_open}}</p>
        <p id="stockHigh"> Today's High: {{stock_high}}</p>
        <p id="stockLow">Today's Low: {{stock_low}}</p>
        <p id="stockPrice">Current Price: {{stock_price}}</p>
    </div>
</div>