<div class="app-dashboard shrink-medium">
    <div class="row expanded app-dashboard-top-nav-bar">
        <form style="margin: 5%;" class="form new-project-form">
            <div class="columns medium-2">
                {{!-- <button data-toggle="app-dashboard-sidebar" class="menu-icon hide-for-medium"></button> --}}
                {{!-- <button type="submit" id="searchBtn" class="app-dashboard-logo"></button> --}}
            </div>
            <div class="columns">
                <div class="app-dashboard-search-bar-container">
                    <input name="stock" class="app-dashboard-search" type="text" placeholder="Search" id="search">
                    {{!-- <button type="submit" class="primary button expanded search-button"></button> --}}
                    <button type="submit" class="primary button expanded search-button">Submit</button>
                    {{!-- <i class="app-dashboard-search-icon fa fa-search"></i> --}}
                </div>
            </div>
        </form>
    </div>
    <div class="app-dashboard-body off-canvas-wrapper">
        {{#if searches}}
        <div id="app-dashboard-sidebar"
            class="app-dashboard-sidebar position-left off-canvas off-canvas-absolute reveal-for-medium"
            data-off-canvas>
            <div class="app-dashboard-sidebar-title-area">
                <div class="app-dashboard-close-sidebar">
                    <h3 class="app-dashboard-sidebar-block-title">Recent Searches</h3>
                    <!-- Close button -->
                    <button id="close-sidebar" data-app-dashboard-toggle-shrink
                        class="app-dashboard-sidebar-close-button show-for-medium" aria-label="Close menu"
                        type="button">
                        <span aria-hidden="true"><a href="#"><img
                                    src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2017/png/iconmonstr-arrow-64.png&r=0&g=0&b=0"
                                    class="" height="40" width="40"></span>
                    </button>
                </div>
                <div class="app-dashboard-open-sidebar">
                    <button id="open-sidebar" data-app-dashboard-toggle-shrink
                        class="app-dashboard-open-sidebar-button show-for-medium" aria-label="open menu" type="button">
                        <span aria-hidden="true"><a href="#"><img
                                    src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-arrow-25.png&r=0&g=0&b=0"
                                    class="" height="40" width="40"></span>
                    </button>
                </div>
            </div>
            <div class="app-dashboard-sidebar-inner">
                <ul class="menu vertical">
                    <!--  
                    <li><a href="#" class="is-active">
                            <i class="large fa fa-institution"></i><span
                                class="app-dashboard-sidebar-text">{{Name}}</span>
                        </a></li>
                    -->
                    {{#each searches as |search|}}
                    <li><a href="#" class="is-active" data-id="{{id}}">
                            <span class="app-dashboard-sidebar-text" id="history">{{stock_symbol}}</span>
                        </a>
                    </li>
                    {{/each}}
                    
                   <li><button class=" app-dashboard-sidebar-text button delete-button" data-id="{{id}}">Delete Searches</button></li> 
                    
                </ul>
            </div>
        </div>
        {{/if}}
        <div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>
            <h2 class="text-center">{{name}}'s Dashboard</h2>
            <div id="res"></div>
            {{#unless searches}}
            <div class="card-info success absolute-center">
                <div class="card-info-label">
                    <div class="card-info-label-text" id="stockSymbol">
                        Hello
                    </div>
                </div>
                <div class="card-info-content">
                    <h3 class="lead" id="stockName">Search a stock</h3>
                </div>
            </div>
            {{/unless}}
            {{#if searches}}
            {{#each searches as |search|}}
            <div class="card-info success">
                <div class="card-info-label">
                    <div class="card-info-label-text" id="stockSymbol">
                        {{stock_symbol}}
                    </div>
                </div>
                <div class="card-info-content">
                    <h3 class="lead" id="stockName">Company: {{stock_name}}</h3>
                    <p id="stockCountry">Country: {{stock_country}}</p>
                    <p id="stockSector">Exchange: {{stock_sector}}</p>
                    <p id="stockDescription">Description: {{stock_description}}</p>
                    <p id="stockOpen">Today's Open Price: {{stock_open}}</p>
                    <p id="stockHigh"> Today's High: {{stock_high}}</p>
                    <p id="stockLow">Today's Low: {{stock_low}}</p>
                    <p id="stockPrice">Current Price: {{stock_price}}</p>
                </div>
            </div>
            {{/each}}
            {{/if}}
        </div>
    </div>
</div>
<script src="/js/dashboard.js"></script>